/* UNIVERSAL STYLE */
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
}


img, video {
    max-width: 100%;
    display: block;
    min-width: inherit;
}

h1, h2, h3 {
    letter-spacing: 0.01em;
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
}

video#backVid {
    position: absolute;
    height: -webkit-fill-available;
    transform: scale3d(4em, 1);
    top: -0.8em;
}

.container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 0;
    height: 100vh;
    background: #ffffff80;
}


    
.logo-container {
    grid-area: 1 / 1 / 3 / 3;
    background: #fff;
    display: flex;
    justify-content: center;
    align-content: center;
    z-index: 5;
}

.content {
    grid-area: 3 / 1 / 7 / 3;
    background: #ffffff80;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em 2em 1em;
    line-height: 2.5em;
    text-align: left;
    font-size: .9em;
    width: max-content;
    z-index: 5;
}

.content > span {
    margin: .24em;
    width: max-content;
}

.contactUs {
    grid-area: 7 / 1 / 8 / 3;
    background: #ffffff80;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

h3#contact-link {
    width: max-content;
    height: max-content;
    text-transform: uppercase;
    -webkit-animation: text-expand 0.8s 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: text-expand 0.8s 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    text-shadow: 0 0 #000;
    font-size: .8em;
    font-weight: 600;
}

h3#contact-link a {
    padding: 0.4em;
    border-radius: 36px;
    background: yellow;
    color: #768282;
}

h3#contact-link a:hover {
    background: orange;
    transition: 1s;
    border: 1px solid #ddd;
}

.missions {
    grid-area: 7 / 5 / 8 / 6;
    /* background: pink; */
    display: flex;
    flex-direction: row;
    align-items: end;
    z-index: 5;
}

span.missionText {
    padding: 1em;
    color: #000;
    text-transform: capitalize;
}

span.separator {
    padding: .7em;
    font-weight: bolder;
    font-size: 1.1em;
    color: #b30d0c;
}

.comingSoon {
    grid-area: 3 / 4 / 4 / 7;
    /* background: red; */
    display: flex;
    justify-content: center;
    align-items: end;
    z-index: 5;
    padding-bottom: .5em;
}

h1#soon {
    font-family: system-ui;
    color: orange;
    font-size: 20px;
    -webkit-animation: text-focus-in 1s 3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: text-focus-in 1s 3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    text-transform: uppercase;
    font-weight: 900;
}

@media screen and (max-width: 664px), print {
    .container {
        display: none;
    }

    .container-mt {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        /* top: -10em; */
        /* position: relative; */
    }

    video#backVid {
        display: none;
    }

}

@media screen and (min-width: 910px), print {
    .content {
        width: inherit;
    }

    video#backVid {
        position: absolute;
        height: -webkit-fill-available;
        /* transform: scale3d(1, 1, 1); */
        top: -8em;
        left: 0.6em;
    }

    
}


/* Test Phase */
.logo-container-mt {
    background: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 27em;
    position: relative;
    /* top: -3.4em; */
    /* background: aqua; */
}

img#logo-mt {
    position: relative;
    height: inherit;
    padding-top: 11em;
}

.comingSoon-mt h1#comingSoon-mt {
    font-family: system-ui;
    color: yellow;
    text-transform: capitalize;
    font-size: 1.5em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.comingSoon-mt {
    /* padding: 1em; */
    background: #ffffffb0;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.content-mt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #ffffffb0;
    width: 100%;
    padding: 1em 1em 1em;
    line-height: 1em;
    color: #000;
    font-size: .88em;
    position: relative;
    /* align-items: center; */
    /* text-align: left; */
    margin-top: 1em;
}

div.content-mt span {
    line-height: 2.3em;
    text-transform: capitalize;
    margin-left: 4.5em;
}

div.content-mt span:nth-child(1) {
    -webkit-animation: text-expand 0.8s 3s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: text-expand 0.8s 3s cubic-bezier(0.215, 0.610, 0.355, 1.000) 1s both;
}

div.content-mt span:nth-child(2) {
    -webkit-animation: text-expand 0.8s 4s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: text-expand 0.8s 4s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

div.content-mt span:nth-child(3) {
    -webkit-animation: text-expand 0.8s 5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: text-expand 0.8s 5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

div.content-mt span:nth-child(4) {
    -webkit-animation: text-expand 0.8s 6s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: text-expand 0.8s 6s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

div.content-mt span:nth-child(5) {
    -webkit-animation: text-expand 0.8s 7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: text-expand 0.8s 7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

div.content-mt span:nth-child(6) {
    -webkit-animation: text-expand 0.8s 8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: text-expand 0.8s 8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.content-mt > span:nth-child(1) > i, span:nth-child(4) > i {
    color: yellow;
}

.content-mt > span:nth-child(2) > i, span:nth-child(5) > i {
    color: orange;
}

.content-mt > span:nth-child(3) > i, span:nth-child(6) > i {
    color: maroon;
}


.missions-mt {
    padding: 0.7em;
    width: 100%;
    display: flex;
    flex-direction: row;
    font-size: .88em;
    justify-content: center;
    position: relative;
    bottom: -1em;
}

.contactUs-mt {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .3em .5em 0.6em;
    position: relative;
    bottom: -1em;
}

.logo-container-mt, .comingSoon-mt, .content-mt, .missions-mt, .contactUs-mt {
    z-index: 1;
}

video#backVid {
    position: absolute;
    height: -webkit-fill-available;
    transform: scale3d(1, 3, 1);
    /* top: 0.2em; */    
}